body {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
}

ul {
    padding: 0;
    margin: 0;
}

/* ===== header-block + footer-block ===== */
.hero-block,
.footer-block {
    background-color: #1F2937;
}

.hero .main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero .sub-text,
.header a,
.footer-block {
    color: #E5E7EB;
    font-size: 18px;
}

.header .logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    list-style: none;
}

.header a {
    text-decoration: none;
}

.header .links {
    display: flex;
    gap: 16px;
}

.hero-block {
    padding: 12px 48px;
    display: flex;
    flex-direction: column;
}

.hero {
    margin: 100px 0px;
    display: flex;
    gap: 48px;
}

.hero img {
    min-width: 500px;
    min-height: 200px;
    background-color: grey;
}

/* ===== info-block ===== */
.footer-block {
    text-align: center;
    padding: 36px;
}

/* ===== info-block ===== */
.info-block .header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}
 
.items {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: space-evenly;
}

.item {
    display: flex;
    flex-direction: column;
    width: 140px;
    text-align: center;
    gap: 12px;
}

.item img {
    width: 140px;
    height: 140px;
    border-radius: 12px;
    outline: 3px solid #3882F6;
   
}

.info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 48px 48px 100px;
}

/* ===== button ===== */
button {
    color: white;
    font-weight: bold;
    background-color: #3882F6;
    padding: 12px 36px;
    border-radius: 12px;
    margin: 12px 0px;
}

/* ===== quote-block ===== */
.quote-block {
    background-color: #E5E7EB;
    padding: 120px 120px 84px;
}

.quote-block .text {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 12px;
}

.quote-block .signature {
    text-align: end;
    font-weight: bold;
    font-size: 24px;
    margin: 0px 48px;
}

/* ===== action-call-block ===== */
.action-call-block {
    background-color: #3882F6;
    color: white;
    padding: 36px 100px;
    margin: 80px 50px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-call-block .main-text {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.action-call-block .sub-text {
    color: #E5E7EB;
}

.action-call-block button {
    border-color: #F9FAF8;
}